*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 47, 47);
    position: absolute;
}

.box
{
    border: 1px solid rgb(51, 47, 47);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: fixed;
    
}

.box:nth-child(1){
    border-bottom-width: 10px;
    border-color: aqua;
    animation: loading1 3s linear infinite;
}

.box:nth-child(2){
    border-bottom-width: 10px;
    border-color: rgb(234, 0, 255);
    animation: loading2 3s linear infinite;
}

.box:nth-child(3){
    border-bottom-width: 10px;
    border-color: rgb(236, 80, 7);
    animation: loading3 3s linear infinite;
}

@keyframes loading1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(45deg) rotateZ(360deg);

    }
}

@keyframes loading2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);

    }
}

@keyframes loading3 {
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}

.text{
    color: white;
}

.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
}